@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
	font-family: 'Bethany Elingston';
	src: url('https://raw.githubusercontent.com/maskaaribou/clairobscur/main/BethanyElingston.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.post-main-content:has(.AmaRP) {
    overflow: visible !important;
}

.AmaRP {
	--colorama: #ecc07c;
	--darkama: #be9c6a;
	--accentama: #A59BA8;
	--groupama: #A76376;
	--gradientama: radial-gradient(circle, var(--colorama) 0%, var(--darkama) 85%);
	display: flex;
	background: var(--bg2);
	width: 850px;
	margin: auto;
	border: 10px solid var(--border);
	position: relative;
	border-radius: 20px;
	box-shadow: var(--box-shadow);
	color: #323232;
}

.AmaRP:before {
	content: "";
	display: block;
	position: absolute;
	height: 500px;
	width: calc(100% - 200px);
	right: 200px;
	top: 0px;
	border-radius: 20px;
	background: var(--ggradient2);
	-webkit-mask-image: url(https://i.imgur.com/OfiKlLO.png);
	-webkit-mask-size: contain;
	mask-size: contain;
	mask-position: right;
	mask-repeat: no-repeat;
	mix-blend-mode: var(--flowerfilter);
	opacity: var(--floweropacity);
	pointer-events:none
}

.AmaRP:after {
	content: "";
	display: block;
	position: absolute;
	height: 300px;
	width: calc(100% - 200px);
	right: 200px;
	bottom: 0px;
	border-radius: 20px;
	background: var(--ggradient2);
	-webkit-mask-image: url(https://i.imgur.com/ttz5Kyd.png);
	-webkit-mask-size: contain;
	mask-size: contain;
	mask-position: left;
	mask-repeat: no-repeat;
	mix-blend-mode: var(--flowerfilter);
	opacity: var(--floweropacity);
	pointer-events:none
}

.AmaRP a {
	color: var(--groupama)
}

.AmaRP a:hover {
	color: var(--accentama)
}

.AmaRP l {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	background: linear-gradient(-135deg, transparent 65%, var(--accentama) 100%);
	max-height: 100vh;
	position: sticky;
	top: 0;
	border-radius: 0 20px 20px 0;
	overflow: hidden;
	transition: 300ms all;
}

.AmaRP l x {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: none;
	color: var(--darkama);
	font-weight: 800;
	flex-direction: column;
	gap: 20px;
}

.AmaRP l x tt {
	display: flex;
	align-items: center;
	justify-content: center;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-family: Ragyola;
	font-size: 30px;
	text-align: center;
	line-height: 100%;
	transform: rotate(180deg);
	text-shadow: none;
	color: var(--darkama);
	font-weight: 800;
	flex-direction: column;
}

.AmaRP l x b,
.AmaRP l x strong {
	font-size: 20px;
	color: var(--accentama)
}

.AmaRP l:after {
	content: "";
	display: block;
	width: 100%;
	background-image: url(https://i.imgur.com/CkU6Cre.gif);
	background-size: cover;
	background-position: 52% 50%;
	height: 100%;
	position: sticky;
	top: 0;
	pointer-events: none;
	transition: 300ms all;
}

.AmaRP l:hover:after {
	opacity: 0.1
}

.AmaRP l y {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--colorama);
	border-radius: 10px;
	border: 2px solid var(--border);
	position: relative;
	animation: 2s infinite pulse-gradient;
}

.AmaRP l y a {
	position: absolute;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 300ms all;
	text-decoration: none;
	overflow: hidden;
	padding: 3px 0 0;
}

.AmaRP l y a:after {
	content: "\f9bd";
	font-size: 40px;
	font-family: game-icons !important;
	font-style: normal;
	font-weight: normal !important;
	pointer-events: none;
}

.AmaRP>r {
	display: flex;
	flex: 1;
	padding: 0 30px 30px;
	flex-direction: column;
	align-items: center;
	border-right: 10px solid rgba(var(--gbg2), 0.4);
	position: relative;
	border-radius: 20px 0 0 20px
}

.AmaRP r tp {
	text-align: right;
	line-height: 100%;
	height: 200px;
	font-weight: 800;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
    padding: 10px 0 0;
}

.AmaRP r tp ti {
	font-family: Ragyola;
	font-size: 30px;
	display: flex;
	align-items: center;
	text-transform: lowercase;
	background: rgba(255, 255, 255, 0.5);
	height: max-content;
}

.AmaRP r tp ti x {
	border-right: 3px solid var(--accentama);
	padding: 10px 10px 2px;
	line-height: 80%;
	color: var(--accentama);
	display: flex;
	flex-direction: column;
}

.AmaRP r ti b,
.AmaRP r ti strong {
	font-size: 55px;
	background: var(--gradientama) !important;
	-webkit-background-clip: text !important;
	background-clip: text !important;
	color: transparent !important;
	text-shadow: none;
	line-height: 100%;
}

.AmaRP r ti i {
	font-size: 15px;
	font-style: normal;
	color: var(--groupama);
	line-height: 100%;
}

.AmaRP r rp {
	display: block;
	width: 100%;
	text-align: justify;
	font-family: 'Bethany Elingston';
	letter-spacing: 2px;
	font-size: 14px;
	z-index: 3;
	unicode-bidi: isolate;
	white-space: pre-wrap;
	line-height: 150%;
	text-wrap: pretty;
    transition: 600ms all
}

.AmaRP r rp * {
	font-size: inherit!important;
	padding: 0;
	line-height: inherit!important;
	letter-spacing: inherit!important;
}

.AmaRP r rp d,
.AmaRP r rp pnj {
	display: inline-block;
	position: relative;
	z-index: 1;
	font-weight: bold;
	border-left: 3px solid var(--accentama);
	position: relative;
	margin: -5px 0 -5px 0;
	width: 100%;
	align-content: center;
	color: var(--darkama);
	background: rgba(255, 255, 255, 0.5);
	padding: 5px 6px 5px 8px;
}

.AmaRP r rp d:before, .AmaRP r rp pnj:before {
    content:"— ";
}

.AmaRP r rp pnj {
	color: var(--accentama)
}

.AmaRP r rp u {
	background: var(--gradientama) no-repeat bottom left / 100% 2px !important;
}

.AmaRP *::selection {
	background: var(--accentama)!important;
	color: white!important;
}

.AmaRP ld {
	display: block;
	width: 100%;
	text-align: right;
    margin: 30px 0 0;
	font-family: Ragyola;
	font-size: 17px;
	font-weight: 800;
	opacity: 0.9
}

.AmaRP ld:before {
	content: "— "
}

.AmaRP hr {
	display: block;
	background: var(--accentama);
	height: 3px;
	flex: 1;
	margin: 14px 0px 3px 15px;
}

.AmaRP bt {
	order: 4;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	width: 100%;
}

.AmaRP bt:before {
	content: "hrp";
	font-family: 'Ragyola', serif;
	font-size: 40px;
	color: var(--groupama);
	line-height: 80%;
	display: block;
	margin: 0 0 10px
}

.AmaRP hrp {
	display: block;
	text-align: justify;
	font-family: 'Bethany Elingston';
	letter-spacing: 2px;
	font-size: 12px;
	width: 100%;
}

.AmaRP bt:has(hrp.hidden) {
	display: none
}

.AmaRP r warning {
    display: flex;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 0 30px;
    flex-direction: column;
    border: 2px solid var(--border);
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    font-family: 'Bethany Elingston';
    letter-spacing: 2px;
    line-height: 150%;
    font-size: 14px;
}

.AmaRP r warning:before {
    content:"Ce texte aborde les thèmes suivants:";
    display: block;
    font-weight: bold;
}

.AmaRP input {
    display: none;
}

.AmaRP label {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 3px;
    border-radius: 10px;
    background: var(--colorama);
    border: 2px solid var(--border);
    font-family: Ragyola;
    font-weight: bold;
    text-shadow: none;
    font-size: 17px;
    animation: 2s infinite pulse-gradient;
    cursor: pointer;
}

.AmaRP label:before {
    content:"afficher le texte";
}

.AmaRP label:after {
    content:"cacher le texte";
    position: absolute;
    width:95%;
    text-align: center;
    background: var(--colorama);
    opacity: 0;
    transition:300ms all
}

.AmaRP input:checked+label:after {
    opacity: 1;
}

.AmaRP:has(input:not(:checked)) {
    r rp {
        font-size: 0;
    }
    r d, r pnj {
        padding: 0
    }
}

@keyframes pulse-gradient {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(var(--gbg1), 0.7);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(var(--gbg1), 0);
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(var(--gbg1), 0);
  }
}
