@font-face {
    font-family: 'Hatolie';
    src: url('https://dl.dropbox.com/scl/fi/md99qqvg8lhj2q98bh5jw/Hatolie.woff2?rlkey=lykok9j3uud83opwt6fqi2yxf&st=0qorivci') format('woff2'),
        url('https://dl.dropbox.com/scl/fi/9fhtsaz3ru40sxjjc05e7/Hatolie.woff?rlkey=kjqhalqomzmgc0q0yx0l1af4g&st=5p88wfbb') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bethany Elingston';
    src: url('https://dl.dropbox.com/scl/fi/990ouatcp7rtp8tclq97y/BethanyElingston.woff2?rlkey=sxn4y5yqhcvr2bea8xzoi1o0g&st=7r1fpm63') format('woff2'),
        url('https://dl.dropbox.com/scl/fi/tx7mz86r216284e5slin1/BethanyElingston.woff?rlkey=o11n8kda0yxnxqfi47p85co6w&st=xtq92iu0') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.pab_topic_postmessage:has(.FayeRP) {
    padding: 0;
}

.pab_topic_postbody:has(.FayeRP) {
    width: 100%;
    max-width: 100%;
}


.FayeRP {
    --black:#151515;
    --white:#e2f0f2;
    --gradient:#5E5988;
    --accent:#a7a1db;
    --accent2:#e2f0f2;
    --accent3:#ddc178;
    display: flex;
    background-color:var(--black);
    width:100%;
    margin: auto;
    border:2px solid var(--accent);
    color:var(--white);
    position: relative;  
    border-radius: 6px;
}

.FayeRP:before{
    content:"";
    display: block;
    position: absolute;
    height:100%;
    width:95%;
    right:180px;
    top:0px;
    background-image:url(https://i.imgur.com/4MCo4hW.png);
    background-size:85%;
    background-repeat:no-repeat;
    background-position: top right;
    opacity:0.7;
    border-radius: 6px;
}

.FayeRP a {
    color:var(--accent3)
}

.FayeRP a:hover {
    color:var(--accent)
}

.FayeRP r:after{
    content:"";
    display: block;
    position: absolute;
    height:100%;
    width:100%;
    right:0;
    top:0;
    background: linear-gradient(45deg, transparent 65%, var(--gradient) 100%);
    opacity: 0.6;
}

.FayeRP l {
    display: flex;
    align-items: center;
    justify-content: center;
    width:180px;
    background: linear-gradient(-135deg, transparent 65%, var(--gradient) 100%);
    max-height:100vh;
    position: sticky;
    top:0;
    border-radius:0 6px 6px 0;
    transition:300ms all;
}

.FayeRP l x {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-family: Hatolie;
    font-size:60px;
    text-align: center;
    line-height: 60%;
    transform: rotate(180deg);
}

.FayeRP l:after {
    content:"";
    display: block;
    width:100%;
    background-image:url(https://cdn.donmai.us/sample/95/bd/__chief_and_female_chief_path_to_nowhere_drawn_by_toho10min__sample-95bdb634745e6ec7a88e30b32d6d1f93.jpg);
    background-size:cover;
    background-position: 43% 50%;
    height:100%;
    position: sticky;
    top:0;
    border-radius:0 6px 6px 0;
    transition:300ms all;
}

.FayeRP l:hover:after {
    opacity: 0.3
}

.FayeRP>r {
    display: flex;
    flex:1;
    padding: 0 30px 30px;
    flex-direction: column;
    align-items: center;
    border-right:2px solid var(--accent);
    position: relative;
    border-radius: 6px 0 0 6px
}

.FayeRP r tp {
    font-family: Hatolie;
    font-size:60px;
    text-align:right;
    color:var(--accent);
    line-height: 60%;
    height:300px;
    font-weight: 600;
    letter-spacing: 5px;
    z-index:3;
    order:1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width:100%;
    margin: 0 0 0 auto;
    transition:500ms all
}

.FayeRP r tp ti {
    display: flex;
    height:272px;
    align-items: center;
}

.FayeRP r tp ti x {
    border-right:3px solid var(--accent3);
    padding-right:10px;
}

.FayeRP r ti b,.FayeRP r ti strong {
    color:var(--accent2);
}

.FayeRP:has(pk:hover) tp {
    padding-bottom:120px
}

.FayeRP r rp {
    display: block;
    width:100%;
    text-align:justify;
    font-family: 'Bethany Elingston';
    letter-spacing: 2px;
    font-size:14px;
    z-index:3;
    text-shadow: 1px 1px 0px var(--black);
    order:3;
}

.FayeRP r rp f,
.FayeRP r rp pnj {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    font-weight: bold;
    border-left:3px solid var(--accent2);
    padding: 0 0 0 10px;
    position: relative;
	margin: 0 0 0 42px;
	min-height:31px;
	width: calc(100% - 42px);
	align-content: center;
    color:var(--accent)
}

.FayeRP r rp pnj {color:var(--accent3)}

.FayeRP r rp f:before {
    content: "";
    position: absolute;
    top: 0;
    left: -44px;
    color: #2a2a2a;
    width: 27px;
    height: 100%;
    text-align: right;
    background-image: url(https://i.imgur.com/PRFgl9r.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    filter: drop-shadow(2px 0 0 var(--accent3))
            drop-shadow(-2px 0 0 var(--accent3))
            drop-shadow(0 2px 0 var(--accent3))
            drop-shadow(0 -2px 0 var(--accent3))
}

.FayeRP r rp f#fr:before {
    background-image:url(https://i.imgur.com/YLvmK5A.png);
}
.FayeRP r rp f#mo:before {
    background-image:url(https://i.imgur.com/CWhDzlF.png);
}
.FayeRP r rp f#jp:before {
    background-image:url(https://i.imgur.com/JxFzpKn.png);
}
.FayeRP r rp f#en:before {
    background-image:url(https://i.imgur.com/PRFgl9r.png);
}

.FayeRP r rp u {
    text-decoration:underline;
    border: none;
}

.FayeRP r rp u,.FayeRP r rp strike {
    text-decoration-color:var(--accent);
}

.FayeRP *::selection {
	background:var(--gradient)!important;
	color:var(--white)!important;
}

.FayeRP hr {
    display: block;
    background: var(--accent3);
    height: 3px;
    flex:1;
    margin: 14px 0px 3px 15px;
}

.FayeRP bt {
    order:4;
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
    width:100%;
}

.FayeRP bt:before {
    content: "hrp";
    font-family: 'Hatolie', serif;
    font-size: 40px;
    color: var(--accent);
    line-height: 80%;
    display: block;
}

.FayeRP hrp {
    display: block;
    text-align: justify;
    font-family: 'Bethany Elingston';
    letter-spacing: 2px;
    font-size:13px;
    text-shadow: 1px 1px 0px var(--black);
    width:100%;
}

.FayeRP bt:has(hrp.hidden) {
    display: none
}

